__pycache__/*
build/*
dist/*
build/lib/tucu/__init__.py
build/lib/tucu/sparkverse.py
dist/tucu*
dist/sparkverse-0.0.1.tar.gz
sparkverse/__init__.py
sparkverse/simulator.py
sparkverse/sparkverse.py
tucu.egg-info/
tucu.__pycache__/

