__pycache__/*
build/*
dist/*
build/lib/sparkverse/__init__.py
build/lib/sparkverse/sparkverse.py
dist/sparkverse-0.0.1-py3-none-any.whl
dist/sparkverse-0.0.1.tar.gz
sparkverse/__init__.py
sparkverse/simulator.py
sparkverse/sparkverse.py
sparkverse.egg-info/dependency_links.txt
sparkverse.egg-info/PKG-INFO
sparkverse.egg-info/SOURCES.txt
sparkverse.egg-info/top_level.txt
src/sparkverse/salut.txt
src/sparkverse.egg-info/dependency_links.txt
src/sparkverse.egg-info/entry_points.txt
src/sparkverse.egg-info/not-zip-safe
src/sparkverse.egg-info/PKG-INFO
src/sparkverse.egg-info/requires.txt
src/sparkverse.egg-info/SOURCES.txt
src/sparkverse.egg-info/top_level.txt
